<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Eres administrador 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class ="fondo"fullscreen>
    <ion-card>
      <img class="imagen" src="/assets/arroz.png" />
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>Donde Ale</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <div color="green">$2.000</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-card-title>Arros Tucapel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El arroz mas rico del mercado, Tucapel de gran selección pre-graneado 
      </ion-card-content>
      <ion-card-content>
             
        <ion-button color="success">aceptar</ion-button>
        <ion-button color="danger" routerLink="/evaluar">enviar observación</ion-button>
        
          
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
