<ion-header>
  <ion-toolbar>
    <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-button slot="end"><ion-icon name="home"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  
  <img class="fotito" src="/assets/almacen.jpg">
  <br><br>
  <h2>Don shecho</h2>
     
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card> 
        <img class="imagen" src="assets/clorox.jpg" />
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>Clorox</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title color="primary">$2.000</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      </ion-card>  
    </ion-col>
    <ion-col>
      <ion-card> 
        <img class="imagen" src="assets/aceite.png" />
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>Aceite Belmont</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title color="primary">$3.000</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      </ion-card> 
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
